.task {
  background-color: aquamarine;
  height: 2rem;
  margin: 10px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding:10px 0 10px 0;
  align-items: center;
}
@mixin small-magic{
  margin:0 10px;
}
//csak gyakorlom ezeket scss dolgokat:)
.btn{
  @include small-magic
}
.task-content{
  @include small-magic
}
