/* You can add global styles to this file, and also import other style files */
.btn {
  width: 6.5rem;
  height: 1.5rem;
  margin-top: 10px;
  background-color: darkolivegreen;
  border: none;
  border-radius: 6px;
}
h2 {
  font-family: Bicyclette;
}
span {
  font-family: Bahnschrift;
  font-weight: lighter;
}
